.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.controls {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls label {
  margin-bottom: 10px;
}

.controls input[type="range"] {
  margin-left: 10px;
}

.controls span {
  margin-left: 10px;
}

.WaveInterferenceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000; /* Border style, width, and color */
  display: inline-flex;
}